---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk, md
---

{% render '@vf-intro', {"vf_intro_phase": "alpha", "vf_intro_heading": siteConfig.siteInformation.title,
  "vf_intro_lede": siteConfig.siteInformation.short_description,
  "vf_intro_text": [
    "It may have been removed, had its name changed, or be temporarily unavailable.<br/></br/>If this problem persists, please <a href='https://www.ebi.ac.uk/support/error'>contact our support team</a>, and let them know about this error."
  ]
} %}

<section class="embl-grid embl-grid--has-centered-content">
  <div>
    <!-- empty -->
  </div>
  <div class="vf-content">
  
  <div class="row">
  <div class="columns small-12 large-12 medium-12">
    <span class="label show-for-small-only white-color">EBI Search</span>
    <p class="show-for-medium">Try searching EMBL-EBI for what you were looking for.</p>
    <form id="ebi_search" action="/ebisearch/search.ebi" data-abide="" novalidate="" data-e="guqhmd-e">
      <fieldset>
        <div class="margin-bottom-none small-collapse">
          <div class="columns small-2 margin-bottom-small search-options-wrapper">
            <select name="db" id="db" tabindex="1" class="margin-bottom-none" style="opacity: .8;">
              <option value="allebi">All</option>
              <optgroup label="Science search">
                <option value="genomes">Genomes &amp; metagenomes</option>
                <option value="nucleotideSequences">Nucleotide sequences</option>
                <option value="proteinSequences">Protein sequences</option>
                <option value="smallMolecules">Small molecules</option>
                <option value="geneExpression">Gene expression</option>
                <option value="diseases">Diseases</option>
                <option value="molecularInteractions">Molecular interactions</option>
                <option value="reactionsPathways">Reactions &amp; pathways</option>
                <option value="proteinFamilies">Protein families</option>
                <option value="literature">Literature</option>
                <option value="ontologies">Samples &amp; ontologies</option>
              </optgroup>
              <optgroup label="Search web content">
                <option value="ebiweb_people">EMBL-EBI People</option>
                <option value="ebiweb">EMBL-EBI web</option>
                <!-- <option value="ebiweb">EMBL web</option> -->
              </optgroup>
            </select>
          </div>
          <div class="columns small-8  margin-bottom-none search-text-wrapper">
            <input id="query" class="margin-bottom-none" title="EBI Search" tabindex="2" type="text" name="query" value="" size="35" maxlength="2048" placeholder="Find a gene, protein or chemical" required="">
            <span class="form-error margin-top-small">
              You need to enter a search query.
            </span>
          </div>
          <div class="columns small-2 margin-bottom-none">
            <input id="search_submit" class="button icon icon-functional margin-bottom-none" tabindex="3" type="submit" name="submit1" value="1" style="line-height:.9">
          </div>
          <!-- <input id="allebi" type="hidden" name="db" value="allebi" checked="checked" /> -->
          <input type="hidden" name="requestFrom" value="ebi_index">
        </div>
      </fieldset>
      <fieldset>
        <div id="example" class="medium-push-2 medium-10 columns small">
          Example searches: <a href="/ebisearch/search.ebi?db=allebi&amp;requestFrom=ebi_index&amp;query=blast">blast</a> <a href="/ebisearch/search.ebi?db=allebi&amp;query=keratin&amp;requestFrom=ebi_index">keratin</a> <a href="/ebisearch/search.ebi?db=allebi&amp;query=bfl1&amp;requestFrom=ebi_index">bfl1</a>
        </div>
      </fieldset>
    </form>
  </div>
  </div>

</div>
</section>

<script type="text/javascript">
document.onreadystatechange=function(){
jQuery(function() {
  var container = $('#ebi_search');

  if (container.length) {
    var search = (document.location.pathname + document.location.search)
      .replace(/%\d\d/g, ' ')
      .replace(/[^a-zA-Z0-9]/g, ' ')
      .replace(/(html|php|js|css)/g,'')
      .replace(/\s+/g, ' ')
      .trim()
      .replace(' s', '');

    jQuery('#query')
      .val(search);
  }
});
};
</script>
